@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
* {
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
}
.nav {
	background-color: #1b4332;
	display: grid;
	grid-template-columns: 2fr 2fr 2fr;
}
.nav-ul {
	grid-column: 3;
	text-decoration: none;
}
.nav li {
	list-style: none;
}
.nav a {
	color: #adb5bd;
	text-decoration: none;
}
.cart {
	display: grid;
	grid-template-columns: 3fr, 3fr, 3fr;
	grid-template-rows: 3fr, 1fr, 3fr;
}
.products {
	background-color: rgb(101, 102, 101);
	border: 1px solid rgba(0, 0, 0, 0.3);
	display: grid;
	grid-template-columns: 4fr 2fr 2fr;
	grid-gap: 1px solid rgba(0, 0, 0, 0.3);
}
.product-title {
	color: black;
	font-size: smaller;
}
.header {
	text-decoration: underline rgba(0, 0, 0, 0.3);
}
.title {
	font-family: 'Montserrat', sans-serif;
}
.product-price {
	color: rgb(9, 38, 9);
}
.change-quanity {
	position: relative;
	text-align: center;
	grid-column: 2;
}

.product {
	position: relative;
	text-align: center;
}
.card {
	max-height: 500px;
	/* background-color: rgba(91, 223, 39, 0.077); */
	background-color: white;
	border: 2px solid black;
	padding: 5px;
	transition: transform 500ms ease;
	margin: 10px 5px 5px 10px;
}
.card:hover {
	transform: scale(1.05);
}
.product-grid {
	background-color: rgb(101, 102, 101);
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 10px;
}
.product-description {
	height: 40px;
	text-overflow: ellipsis;
	white-space: wrap;
	overflow: hidden;
}
.product-img {
	max-width: 150px;
	max-height: 200px;
}
form {
	background-color: #40916c;
	padding-bottom: 15px;
}
.login-grid {
	background-color: #081c15;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	color: #767f87;
}

.google-data {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.google-img {
	margin-left: 60px;
	border-radius: 50%;
	height: 40px;
	width: 40px;
}
.welcome {
	margin: 0;
}

select {
	box-shadow: 0 10px 25px rgba(0, 2, 1, 0.3);
	color: white;
	background: rgba(1, 58, 27, 0.57);
}
.custom-select {
	position: relative;
}
.custom-arrow {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	background: saddlebrown;
	width: 1rem;
	height: 1rem;
}
select option {
	background-color: black;
}
@media only screen and (min-width: 500px) {
}
